.card{
  height:500px;
  width:500px;
 
 margin-left: 20px;
  text-align: left;
}

.container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 10px solid black; 
    margin-top: 40px;
    margin-left: 200px;
    justify-content: space-evenly;
}

.card2{
    width: 150px;
  
    margin-right: 0px;
}

.company,.pay{
    font-size: 55px;
}

.icon{
    width: 50px;
    margin-top: 200px;
}
.logo{
   
    height: 150px;
    margin-top: 20px;
}
.study{
    height: 50px;
    font-size: 28px;
    background-color: black;
    width: 180px;
    color: white;
    text-align: center;
}